<!DOCTYPE html>
<html>

<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="templatemo">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/templatemo_misc.css">
    <link rel="stylesheet" href="~/Content/templatemo_style.css">
    <link href="~/Content/plan.css" rel="stylesheet"/>
    <link href="~/Content/SignInandSignUp/style.css" rel="stylesheet"/>
    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet"/>

    <script src="~/Scripts/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script>

        $(document).ready(function(){
            if (@ViewBag.activePage == "Plan") {
                $("#plan_nav").addClass("active");

            }
            else if (@ViewBag.activePage == "Home") {
                $("#home_nav").addClass("active");

            }
            else if (@ViewBag.activePage == "SignIn") {
                $("#signin_nav").addClass("active");

            }
            else if (@ViewBag.activePage == "About") {
                $("#about_nav").addClass("active");

            }
        });

    </script>

    <script src="~/Scripts/fbsdk.js"></script>
    <script>
        // Load the SDK asynchronously
        (function(thisdocument, scriptelement, id) {

            var js, fjs = thisdocument.getElementsByTagName(scriptelement)[0];
            if (thisdocument.getElementById(id)) return;

            js = thisdocument.createElement(scriptelement);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        window.fbAsyncInit = function() {
            FB.init({
                appId: '415519201971152', //Your APP ID
                cookie: true, // enable cookies to allow the server to access
                // the session
                xfbml: true, // parse social plugins on this page
                version: 'v2.5' // use version 2.4
            });

            // These three cases are handled in the callback function.
            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });

        };

        // This is called with the results from from FB.getLoginStatus().
        function statusChangeCallback(response) {
            if (response.status === 'connected') {
                // Logged into your app and Facebook.
            } else if (response.status === 'not_authorized') {
                // The person is logged into Facebook, but not your app.

            }
        }

        function _onlyLogin() {
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    location.reload();
                } else {
                    FB.login(function(response) {
                        // handle the response
                        if (response.status === 'connected') {
                            location.reload();
                        } else if (response.status === 'not_authorized') {

                        }
                    }, { scope: 'public_profile,email' });
                }
            });
        }

        
            function _login() {
                FB.getLoginStatus(function(response) {
                    if (response.status === 'connected') {
                        _planSubmit();
                    } else {
                        $('#myModal').modal('show');
                    }
                });
            }
        
        

        function loginSucessfull() {
            FB.login(function(response) {
                // handle the response
                if (response.status === 'connected') {
                    _planSubmit();
                } else if (response.status === 'not_authorized') {
                    // The person is logged into Facebook, but not your app.
                    console.log("Error" + response.error);
                }
            }, { scope: 'public_profile,email' });
        }

        function _planSubmit() {
            FB.api('/me', function(response) {
                //console.log(JSON.stringify(response));
                //alert(response.name);
                setValues(response.name, response.id);
                submitFormWithData();
            });
        }

        function setValues(userName,fbId) {
            document.getElementById("userName").value = userName;
            document.getElementById("fbId").value = fbId;
        }


    </script>

    <script>

        function submitFormWithData() {
            document.getElementById("testForm").submit();
        }

    </script>

    <script>
        $(window).load(function() {
            // Check login Status
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    // Get name and Id
                    FB.api('/me', function(newResponse) {
                        document.getElementById("signin_nav").innerHTML = "<a>"+newResponse.name+"</a>";
                        
                    });
                } else if (response.status === 'not_authorized') {
                    document.getElementById("signin_nav").innerHTML = "<a> Login </a>";
                }
                else if (response.status === 'unknown') {
                    document.getElementById("signin_nav").innerHTML = "<a> Login </a>";
                }
            });
        });
    </script>





</head>

<body>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background: transparent; border: 0px; box-shadow: unset; margin-top: 60px;">
            <div class="modal-body" style="padding: 0px; width: 400px; margin: 0px auto; background: #fff">
                <div class="loginpanel">
                    <h3 style="width: 100%; text-align: center; margin-bottom: 25px;">Login Page</h3>
                    <div class="txt">
                        <input id="user" type="text" placeholder="Username"/>
                        <label for="user" class="entypo-user"></label>
                    </div>
                    <div class="txt">
                        <input id="pwd" type="password" placeholder="Password"/>
                        <label for="pwd" class="entypo-lock"></label>
                    </div>
                    <div class="buttons">
                        <input type="button" value="Login"/>
                        <span>
                                <a href="" class="entypo-user-add register">Register</a>
                            </span>
                    </div>

                    <div class="hr">
                        <div></div>
                        <div>OR</div>
                        <div></div>
                    </div>

                    <div class="social">
                        <a onclick=" loginSucessfull(); " class="facebook"></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="site-header">
    <div class="container">
        <div class="main-header">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-10">
                    <div class="logo">
                        <a href="#">
                            <img src="~/Content/images/logo.png" alt="TourCrow" title="TourCrowLogo">
                        </a>
                    </div> <!-- /.logo -->
                </div> <!-- /.col-md-4 -->
                <div class="col-md-8 col-sm-6 col-xs-2">
                    <div class="main-menu">
                        <ul class="visible-lg visible-md">
                            <li id="home_nav">@Html.ActionLink("Home", "Index", "Home")</li>
                            <li id="plan_nav">@Html.ActionLink("Plan", "Index", "Plan")</li>
                            <li id="about_nav">@Html.ActionLink("About Us", "AboutUs", "Home")</li>
                            <li id="signin_nav" style="cursor: pointer;" onclick=" _onlyLogin(); "><a>...</a></li>


                            @*<li id="signin_nav">@Html.ActionLink("Login/Register", "Index", "SignIn")</li>*@
                        </ul>
                        <a href="#" class="toggle-menu visible-sm visible-xs">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div> <!-- /.main-menu -->
                </div> <!-- /.col-md-8 -->
            </div> <!-- /.row -->
        </div> <!-- /.main-header -->
        <div class="row">
            <div class="col-md-12 visible-sm visible-xs">
                <div class="menu-responsive">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="plan.html">Plan</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="registration.html">Registration</a></li>
                    </ul>
                </div> <!-- /.menu-responsive -->
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div>

@RenderBody()

<script src="~/Scripts/bootstrap.js"></script>

<div class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="footer-logo">
                    <a href="index.html">
                        <img src="images/logo.png" alt="">
                    </a>
                </div>
            </div> <!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-4">
                <div class="copyright">
                    <span>Copyright &copy; 2084 <a href="#">Company Name</a></span>
                </div>
            </div> <!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-4">
                <ul class="social-icons">
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-linkedin"></a></li>
                    <li><a href="#" class="fa fa-flickr"></a></li>
                    <li><a href="#" class="fa fa-rss"></a></li>
                </ul>
            </div> <!-- /.col-md-4 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div>
</body>

</html>