@using TourCrow.Controllers
@using TourCrow.Models

@{
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<body>

<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 left_side_dash">
    <div class="col-xs-12">
        <h1 style="text-align: center; margin-top: 30px;">Tour List</h1>
    </div>
    <div style="width: 100%; background: #999999; height: 1px; float: left; margin-top: 20px;"></div>
    <div style="margin-top: 100px;">

        @for (int i = ViewBag.count_pack - 1; i >= 0; i--)
        {

            if (i < (ViewBag.count_pack - 1))
            {
                @Html.BeginForm("Index", "Profile", FormMethod.Get)
                {
                    <div class="tourItemEveryDiv">
                        <a href="?userName=@(ViewBag.name)&fbId=@(ViewBag.id)&packid=@(ViewBag.pid[i])" onclick="showhide();">
                            <p class="textCenter tourItem">

                                @ViewBag.packages[i]

                            </p>
                        </a>
                        <div style="width: 100%; background: #999999; height: 1px; float: left;"></div>
                    </div>
                    <input type="hidden"/>
                }
            }
            else
            {
                <div class="tourItemEveryDiv tourItemACtive">
                    <a href="?userName=@(ViewBag.name)&fbId=@(ViewBag.id)&packid=@(ViewBag.pid[i])" onclick="showhide();">
                        <p class="textCenter tourItem">

                            @ViewBag.packages[i]

                        </p>
                    </a>
                    <div style="width: 100%; background: #999999; height: 1px; float: left;"></div>
                </div>
            }

        }
        }



    </div>
</div>

<div class="col-lg-10 col-md-10 col-sm-8 col-xs-8 right_side_dash">

    <div class="row" style="height: 100px; float: right; position: relative; margin-top: 15px; margin-right: 10px;">
        <img class="circle-image" src="https://graph.facebook.com/@(ViewBag.fbID)/picture?type=large" alt="https://en.opensuse.org/images/0/0b/Icon-user.png">
        <div style="float: left; margin-right: 10px;">
            <h4 class="colorBlack" style="margin-top: 10px; margin-bottom: 5px;">@(ViewBag.username)</h4>
            <a href="" onclick="logout();"><h5 class="colorBlack" style="float: right; margin-top: 0px; margin-bottom: 0px; cursor: pointer">Logout</h5></a>
        </div>
    </div>

    <div style="float: left; position: relative;" id="place_div">

        @for (int i= 0 ; i<ViewBag.pck_count; i++)
        {
            <div class='dashbord-element' id="place_div" name="place_div">
                <img src='https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=@ViewBag.pimg[i]&key=AIzaSyCSRXTF9nWyECowpOmrihkoCMtnJmVQQQo' alt=''/>
                <div class='desc-elemetn'>
                    <h2>@ViewBag.pname[i]</h2>
                    <p>@ViewBag.padd[i]</p>
                    <input type="button" class="btn btn-info" value="Details" style="float: right"/>
                </div>
                <div class='clear'></div>
            </div>
            
        }
        
        
        @*<div id="imgup" name="imgup" >

            @using (Html.BeginForm("fileupload", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                
                <input class="" id="file" type="file" id="file" name="file" type="text" value="" multiple=""/>
                <input type="hidden" value="@ViewBag.packID" name="pck" id="pck"/>
                <input type="submit" class="btn btn-sm btn-success pull-right" name="Submit" id="Submit" value="Upload" />
            }
        </div>*@
</div>
    
        
    


<footer>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script> window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>') </script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/SearchPage.js"></script>
<!-- Google Map -->
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="~/Scripts/vendor/jquery.gmap3.min.js"></script>

<script>
    $('#myModal').on('shown.bs.modal', function() {
        $('#myInput').focus();
    })


</script>
<script>
    function logout() {
        FB.logout(function(response) {
            // user is now logged out
        });    
        window.location.replace("/Home");
    }
    
</script>

    <script>
        var hidden = false;
        function showhide() {
            //hidden = this.hidden;
            if(hidden) {
                document.getElementById('imgup').style.visibility = 'hidden';
            } else {
                document.getElementById('imgup').style.visibility = 'visible';
            }
        
        }
    </script>

<!-- Google Map Init-->
<script type="text/javascript">
    var lat = @ViewBag.place_lat;
    var lng = @ViewBag.place_lng;
    jQuery(function($) {
        $('.first-map, .map-holder').gmap3({
            marker: {
                address: '@ViewBag.place_lat, @ViewBag.place_lng'
            },
            map: {
                options: {
                    zoom: 16,
                    scrollwheel: false,
                    streetViewControl: true
                }
            }
        });
    });


    function initMap() {
        var myLatLng = { lat: @ViewBag.place_lat, lng: @ViewBag.place_lng };

        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
            center: myLatLng,
            scrollwheel: false,
            zoom: 4
        });

        // Create a marker and set its position.
        var marker = new google.maps.Marker({
            map: map,
            position: myLatLng,
            title: 'Hello World!'
        });
    }


</script>
</body>

