@{
    Layout = "~/Views/Shared/_NavBar.cshtml";
}

    <div class="flexslider">
        <ul class="slides">

            <li>
                <img src="~/Content/images/main_image/slide/slide_3.jpg" alt="Special 1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-lg-4">
                            <div class="flex-caption visible-lg">
                                <span class="price">Featured</span>
                                <h3 class="title">Sundarbans, Khulna</h3>
                                <p>
                                    The Sundarbans is a natural region in the Bengal region comprising Eastern India and Bangladesh. It is the largest single block of tidal halophytic mangrove forest in the world.
                                </p>
                                @Html.ActionLink("Add to Plan", "Index", "Plan", new { search = "Sundarbans" }, new { @class = "slider-btn" })
                            </div>

                        </div>
                    </div>
                </div>
            </li>

            <li>
                <img src="~/Content/images/main_image/slide/slide_4.jpg" alt="Special 1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-lg-4">
                            <div class="flex-caption visible-lg">
                                <span class="price">Featured</span>
                                <h3 class="title">Cox's Bazar</h3>
                                <p>
                                    Cox's Bazar is a town, a fishing port and district headquarters in Bangladesh. It is one of the world's longest uninterrupted natural sandy sea beaches, The beach in Cox's Bazar is an unbroken 125 km sandy sea beach with a gentle slope.
                                </p>
                                @Html.ActionLink("Add to Plan", "Index", "Plan", new { search = "Cox's+Bazar" }, new { @class = "slider-btn" })
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <img src="~/Content/images/main_image/slide/slide_1.jpg" alt="Special 1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-lg-4">
                            <div class="flex-caption visible-lg">
                                <span class="price">Featured</span>
                                <h3 class="title">Bandarban</h3>
                                <p>Bandarban Hill District is the remotest and least populated district in Bangladesh. The lure of the tallest peaks of Bangladesh, treks through virgin forests and chance to meet more than 15 tribes of the region up close is growing both among Bangladeshis and tourists from other countries.</p>
                                @Html.ActionLink("Add to Plan", "Index", "Plan", new { search = "Bandarban" }, new { @class = "slider-btn" })
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <img src="~/Content/images/main_image/slide/rangamati.jpg" alt="Special 1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-lg-4">
                            <div class="flex-caption visible-lg">
                                <span class="price">Featured</span>
                                <h3 class="title">Rangamati, Chittagong</h3>
                                <p>
                                    Rangamati is the administrative headquarters of Rangamati Hill District in the Chittagong Hill Tracts of Bangladesh. It is also a Capital city of Chittagong Hill Tracts.
                                </p>
                                @Html.ActionLink("Add to Plan", "Index", "Plan", new { search = "Rangamati" }, new { @class = "slider-btn" })
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>

    <div class="container">
        <div class="row">
            <div class="our-listing owl-carousel">

                <div class="list-item">
                    <div class="list-thumb">
                        <div class="title">
                            <h4>Birishiri</h4>
                        </div>
                        <img src="~/Content/images/main_image/birishiri.jpg" alt="Birishiri">
                    </div>
                    <div class="list-content">
                        @Html.ActionLink("Add to Plan", "Index", "Plan", new { search = "birishiri" }, new { @class = "price-btn" })
                    </div>
                </div>

                <div class="list-item">
                    <div class="list-thumb">
                        <div class="title">
                            <h4>Kuakata</h4>
                        </div>
                        <img src="~/Content/images/main_image/Kuakata.jpg" alt="destination 1">
                    </div>
                    <div class="list-content">
                        @Html.ActionLink("Add to Plan", "Index", "Plan", new { search = "kuakata" }, new { @class = "price-btn" })
                    </div>
                </div>

                <div class="list-item">
                    <div class="list-thumb">
                        <div class="title">
                            <h4>Nijhum Dip</h4>
                        </div>
                        <img src="~/Content/images/main_image/nijhumdip.jpg" alt="destination 1">
                    </div>
                    <div class="list-content">
                        @Html.ActionLink("Add to Plan", "Index", "Plan", new { search = "Nijhum+Dwip" }, new { @class = "price-btn" })
                    </div>
                </div>

                <div class="list-item">
                    <div class="list-thumb">
                        <div class="title">
                            <h4>Sylhet</h4>
                        </div>
                        <img src="~/Content/images/main_image/sylhet.png" alt="destination 1">
                    </div>
                    <div class="list-content">
                        @Html.ActionLink("Add to Plan", "Index", "Plan", new { search = "Sylhet" }, new { @class = "price-btn" })
                    </div>
                </div>

                <div class="list-item">
                    <div class="list-thumb">
                        <div class="title">
                            <h4>Mahasthangarh</h4>
                        </div>
                        <img src="~/Content/images/main_image/mohasthangor.png" alt="destination 1">
                    </div>
                    <div class="list-content">
                        
                        @Html.ActionLink("Add to Plan", "Index", "Plan", new { search = "mohasthangor" }, new { @class = "price-btn" })
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="middle-content container">
        
    </div>

    

    <script src="~/Scripts/vendor/jquery-1.11.0.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/plugins.js"></script>
    <script src="~/Scripts/main.js"></script>
</body>
</html>
